html, body, #app, .root {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: fixed;
}

.wrapper {
  margin: 70px auto 0 auto;
  width: 100%;
  height: calc(100vh - 70px);
}

a {
  color: inherit;
  text-decoration: inherit;
}

.global-bar {
  padding-left: 0.2rem !important;
}

.global-drawer {
  min-width: calc(min(70vw, 250px));
}

.password-field {
  font-family: sans-serif;
}
.result-wrapper {
  text-align: center;
}
.button-wrapper {
  margin: 5px;
  position: relative;
}
.button-progress {
  color: darkgreen;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -12px;
}
.header {
  flex: 1;
  cursor: pointer;
}
.menu-button {
  margin-left: -12px;
  margin-right: 20px;
}
.account-button {
  text-transform: none;
  padding-right: 10px;
}
.nested: {
  padding-left: 20px;
}
.item: {
  padding-left: 0;
}
.root: {
  width: '100%';
}
.wrapper: {
  margin-top: 70;
  margin-left: 'auto';
  margin-right: 'auto';
  max-width: 1024;
}
.loading-wrapper: {
  text-align: 'center';
}
.progress: {
  cursor: 'wait';
}
.register-success {
  color: forestgreen !important;
}


li .menu-trigger {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  width: 1.5rem;
  height: 1.2rem;
  line-height: 1.2rem;
  border-radius: 0.6rem;
  text-align: center;
  opacity: 0;
}
li:hover .menu-trigger {
  opacity: 1.0;
}

li:hover .menu-trigger a {
  color: #757575;
}

li.left:hover .menu-trigger {
  -text-shadow: #c5e1a5 0 0 15px, #c5e1a5 0 0 5px;
  background-image: radial-gradient(#c5e1a5 40%, transparent 75%);
}
li.right:hover .menu-trigger {
  -text-shadow: #fafafa 0 0 15px, #fafafa 0 0 5px;
  background-image: radial-gradient(#fafafa 40%, transparent 75%);
}

.chat-box {
  list-style: none;
  padding: 0 0 0 0;
}

.chat-box li {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: flex-end;
  position: relative;
}

.chat-box .right {
  justify-content: flex-end;
}

.chat-box .bubble {
  position: relative;
	max-width: 40rem;
  min-width: 9rem;
	height: auto;
  padding: 0.15rem 0.5rem 0.15rem 0.5rem;
  margin: 0;
  text-align: left;
}

.chat-box li.single {
  margin-top: 0.25rem;
  margin-bottom: 0.35rem;
}

.chat-box li.single .bubble {
  border-radius: 0.5rem;
}

.chat-box li.first {
  margin-top: 0.25rem;
  margin-bottom: 0.15rem;
}

.chat-box li.first .bubble {
  border-radius: 0.8rem 0.8rem 0.8rem 0.3rem;
}

.chat-box li.middle {
  margin-top: 0.15rem;
  margin-bottom: 0.15rem;
}

.chat-box li.middle .bubble {
  border-radius: 0.3rem 0.8rem 0.8rem 0.3rem;
}

.chat-box li.last {
  margin-top: 0.15rem;
  margin-bottom: 0.35rem;
}

.chat-box li.last .bubble {
  border-radius: 0.3rem 0.8rem 0.8rem 0.8rem;
}

.chat-box .left .bubble {
  background-color: #c5e1a5;
  border: 0.3px solid #555;
  left: 2.5rem;
}

.chat-box .right .bubble {
  background-color: #fafafa;
  border: 0.3px solid #aaa;
  right: 2.5rem;
}

.chat-box .left .tip::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: -.15rem;
  bottom: 0;
  border: 0.5rem solid #c5e1a5;
  color: #c5e1a5;
  border-top-color: transparent;
  border-left-color: transparent;
  z-index: -1;
}

.chat-box .right .tip::before {
  content: '';
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 0;
  height: 0;
  right: -.15rem;
  bottom: 0;
  border: 0.5rem solid #fafafa;
  color: #fafafa;
  border-top-color: transparent;
  border-right-color: transparent;
  z-index: -1;
}

.chat-box .avatar {
  position: absolute;
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  background-color: pink;
  bottom: 0;
}

.chat-box .left .avatar {
  left: 0.1rem;
}

.chat-box .right .avatar {
  right: 0.1rem;
}

.chat-box .bubble div.message-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
  max-width: calc(min(36rem, 70vw));
}

.chat-box .bubble span.message-content {
  flex-grow: 1;
  color: #212121;
  margin: 0;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-all;
}

.chat-box .timestamp {
  display: inline-block;
  font-size: 70%;
  color: #888;
  white-space: nowrap;
  margin: 0.1rem;
}

/* Typing notification bubble */
.chat-box .typing {
  display: inline-block;
  border-radius: 0.5rem;
  width: 2rem;
  padding: 0.25rem 0.35rem;
  vertical-align: middle;
  text-align: center;
  color: #aaa;
  margin-top: 0.75rem;
}

.chat-box .author {
  font-size: 90%;
}


#topic-view {
  position: relative;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.send-message-panel {
  display: flex;
  align-items: center;
  flex: none;
  padding: 0.4rem 0.4rem 0.4rem 0.6rem;
  background-color: #eceff1;
  box-shadow: 0px -2px 3px -1px rgba(0,0,0,0.1); /* Faint shadow above panel */
  z-index: 2;
  align-items: flex-end;
}

.send-message-panel .msgbox {
  flex-grow: 1;
}

.send-message-panel .material-icons {
  min-width: 1.75rem;
}

.send-message-panel .material-icons.secondary, .material-icons.disabled {
  color: #999!important;
}

.send-message-panel .material-icons.secondary:hover {
  color: #2196f3!important;
}

.super-button .MuiIconButton-label {
  border-radius: 50%;
  margin: 0px;
  padding: 3px;
  color: white;
  background-color: #00695c;
  transition: all 0.2s ease-out;
}

.super-button.Mui-disabled .MuiIconButton-label {
  margin: 3px;
  padding: 0px;
  color: inherit;
  background-color: inherit;
}

.err404 {
  text-align: center;
}

.topic-view {
  position: relative;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.caption-panel {
  display: flex;
  align-items: center;
  flex: none;
  padding: 0.5rem;
  height: 4rem;
  white-space: nowrap;
  overflow-x: hidden;
  z-index: 1;
}

.messages-panel {
  position: relative;
  padding: 0.75rem;
  overflow-y: scroll;
  background-color: #eceff1;
  height: 100%;
  /* TODO: background-image: url("../images/ignasi_pattern_s.png"); */
}

.messages-container {
  position: relative;
  overflow-y: hidden;
  height: 100%;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}
